<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>midCoord</key>
	<string>{41.60302,-93.654789}</string>
	<key>overlayTopLeftCoord</key>
	<string>{41.605742,-93.660963}</string>
	<key>overlayTopRightCoord</key>
	<string>{41.605742,-93.649695}</string>
	<key>overlayBottomLeftCoord</key>
	<string>{41.600399,-93.660963}</string>
</dict>
</plist>
